<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <textarea id="console" style="width: 800px; height: 400px">

    </textarea>
    <br /><br />
    <table>
      <tr>
        <td>
          <input type="text" id="message" style="width: 400px" />
        </td>
        <td>
          <button onclick="submitMsg()">Submit</button>
        </td>
      </tr>
    </table>
    
    <script src="javascripts/jquery-3.3.1.min.js"></script>
    <script src="javascripts/index.js"></script>
  </body>
</html>
